{
    "extends": "airbnb",
    "env": {
        "browser": "true",
        "node": "true"
    },
    "rules": {
        "no-mixed-operators": 0,
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ],
        "no-bitwise": 0
    }
}